@charset "utf-8";
body, div.bg-light {
  background-color: #24292e!important;
}

footer, .card, .modal-header, .modal-body, .modal-footer, .close, #preload, .multisteps-form__panel {
  background-color: #2f363d!important;
  color: #fff!important;
}

hr {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.text-muted, pre, samp {
  color: #b1afaf!important;
}

label, .headline {
  color: #fff;
}

.modal-header, .nav-tabs{
  border-bottom: 1px solid #9e9e9e;
}
.modal-footer{
  border-top: 1px solid #9e9e9e;
}
.modal-content{
  background-color: #4e4e4e;
}
